.container {
  margin-top: 30px;
}

.odd{
  color: lightseagreen;
  font-weight: bolder;
  font-size: 2rem;
}

.even{
  color: darkorchid;
  font-weight: bolder;
  font-size: 2rem;
}

p{
  color: white;
  font-size: 2rem;
}
